body {
    font-family: sans-serif;
}

h1 {
    padding: 5px;
    font-size: 50px;
    text-align: center;
}

tr {
border:2px solid black;
border-left: 10px double blueviolet;
}

.first {
border-bottom:4px dashed blueviolet;
border-left: 10px double blueviolet;
    
}

td {
    padding: 10px;
}

table {
    border-collapse: collapse;
    font-size: 20px;
}
